@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#floating-ui-root div {
  z-index: 999 !important;
}

@layer components {
  /* universel css */
  .mainDiv {
    @apply max-w-[1300px] mx-auto px-[1rem] py-[1rem];
  }
  .center {
    @apply flex justify-center items-center;
  }
  .iconSize {
    @apply w-6 h-6;
  }
  .inputField {
    @apply w-full rounded px-2 border py-2 text-sm outline-none;
  }

  /* page wise */

  /* profile - user form component */
  .userButton {
    @apply bg-black w-full sm:w-auto px-4 py-2 text-white text-sm rounded;
  }

  /* profile - DataListnavbarComponent */
  .navbarLink {
    @apply flex items-center gap-2 max-w-[8rem] w-full lg:max-w-full mx-1 xs:px-4 p-2 text-base border border-black rounded-lg;
  }
}
